{% extends "base.html" %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_files/main_style.css')}}"/>
{% endblock %}
{% block title %} My borrowed books {% endblock %}
{% block div %}<a class='lf--forgot' href="{{ url_for('update') }}">change password</a>{% endblock %}
{% block content %}
<div class="table-container">
	<table>
		<thead>
			<tr>
				<th>Book Title</th>
				<th>Borrowed From</th>
				<th>Lending Time</th>
				<th>Return Date</th>
			</tr>
		</thead>
		<tbody>
		{% for r in borrowed_query %}
			<tr>
			{% for i in r %}
				<td>{{i}}</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}